@model BrutoNetoProject.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Neto)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Neto)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Bruto)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Bruto)
        </dd>

        @* Pripadajuci troskovi *@
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AssociatedCost.TaxRate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AssociatedCost.TaxRate)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AssociatedCost.InsuranceOnEmployee)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AssociatedCost.InsuranceOnEmployee)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AssociatedCost.HealthCareOnEmployee)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AssociatedCost.HealthCareOnEmployee)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AssociatedCost.UnemploymentOnEmployee)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AssociatedCost.UnemploymentOnEmployee)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AssociatedCost.InsuranceOnEmployer)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AssociatedCost.InsuranceOnEmployer)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AssociatedCost.HealthCareOnEmployer)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AssociatedCost.HealthCareOnEmployer)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
